<plugin>
  <nom>Fondation SPIP</nom>
  <auteur>Vertige asbl</auteur>
  <licence>GNU/GPL</licence>
  <version>1.0.0</version>
  <description>
    Un plugin qui jète de bonnes bases pour commencer un site spip !
  </description>
  <etat>stable</etat>
  <prefix>fondation</prefix>
  <lien>http://foundation.zurb.com/docs/f2/</lien>
  <fonctions>fondation_fonctions.php</fonctions>
  <necessite id="Z" version="[1.7.17;]" />
</plugin>
