<plugin>
  <nom>Fondation3 - compass</nom>
  <auteur>Vertige asbl</auteur>
  <licence>GNU/GPL</licence>
  <version>2.0.0</version>
  <description>
    Un plugin qui j&egrav;te de bonnes bases pour commencer un site spip ! Utilise le framework Foundation 3 avec compass.
  </description>
  <etat>dev</etat>
  <prefix>fondation</prefix>
  <lien>http://foundation.zurb.com/docs/</lien>
  <fonctions>fondation_fonctions.php</fonctions>
  <necessite id="Z" version="[1.7.17;]" />
</plugin>
